<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearnRunLoop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F3669ED1E5D4D480009E84A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F366A091E5D4D480009E84A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F366A141E5D4D480009E84A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
